<div class="wrapper">
  <div class="theForm">
    <form [formGroup]="signupForm">
      <label for="username">Username: </label>
      <input
        type="text"
        formControlName="username"
        id="username"
        placeholder="username"
      />
      <label for="email">Email: </label>
      <input
        type="text"
        formControlName="email"
        id="email"
        placeholder="email"
      />
      <div *ngFor="let gender of genders">
        <label [for]="gender">{{ gender }}</label>
        <input
          type="radio"
          formControlName="gender"
          [value]="gender"
          [id]="gender"
        />
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
</div>
