<div class="wrapper">
  <div class="theForm">
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <label for="username">Username: </label>
      <input
        type="text"
        formControlName="username"
        id="username"
        placeholder="username"
      />
      <span
        *ngIf="
          signupForm.get('username').invalid &&
          signupForm.get('username').touched
        "
        >invalid username!</span
      >
      <label for="email">Email: </label>
      <input
        type="email"
        formControlName="email"
        id="email"
        placeholder="email"
      />
      <div class="radios" *ngFor="let gender of genders">
        <label [for]="gender">{{ gender }}</label>
        <input
          type="radio"
          formControlName="gender"
          [value]="gender"
          [id]="gender"
        />
      </div>
      <button type="submit" [disabled]="signupForm.invalid">Submit</button>
    </form>
  </div>
</div>
