<div class="wrapper">
  <div class="theForm">
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div formGroupName="userData">
        <label for="username">Username: </label>
        <input
          type="text"
          formControlName="username"
          id="username"
          placeholder="username"
        />
        <span
          *ngIf="
            signupForm.get('userData.username').invalid &&
            signupForm.get('userData.username').touched
          "
          >invalid username!</span
        >
        <label for="email">Email: </label>
        <input
          type="email"
          formControlName="email"
          id="email"
          placeholder="email"
        />
      </div>

      <div class="radios" *ngFor="let gender of genders">
        <label [for]="gender">{{ gender }}</label>
        <input
          type="radio"
          formControlName="gender"
          [value]="gender"
          [id]="gender"
        />
      </div>

      <div formArrayName="hobbies">
        <h3>Your Hobbies added dynamically</h3>
        <button type="button" (click)="onAddHobby()">Add Hobby</button>
        <div *ngFor="let hobbyControl of getControls(); let i = index">
          <input type="text" [formControlName]="i" />
        </div>
      </div>

      <button type="submit" [disabled]="signupForm.invalid">Submit</button>
    </form>
  </div>
</div>
