.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.theForm {
  border: 1px solid grey;
}
select,
input {
  margin-right: 5px;
}
.sharedForm {
  padding: 5px;
  background: lightblue;
}
.hierarchyForm {
  padding: 5px;
  background: lightgreen;
}
.dataElementForm {
  padding: 5px;
  background: lightpink;
}
