<div class="wrapper">
  <div class="theForm">
    <form [formGroup]="filterDefinitionForm" (ngSubmit)="onSubmit()">
      <div formGroupName="filterDetails" class="sharedForm">
        <label for="folderName">Folder Name: </label>
        <select id="folderName" formControlName="folderName">
          <option value="all" selected>all folders</option>
          <option *ngFor="let folder of folders" [value]="folder.id">{{
            folder.name
          }}</option>
        </select>
        <label for="filterName">*Filter Name: </label>
        <input type="text" id="filterName" formControlName="filterName" />
        <label>Access Type: </label>
        <div *ngFor="let accessType of accessTypeOptions">
          <label [for]="accessType">{{ accessType }}</label>
          <input
            type="radio"
            [id]="accessType"
            [value]="accessType"
            formControlName="accessType"
          />
        </div>
        <label for="description">Description: </label>
        <textarea
          id="description"
          cols="30"
          rows="10"
          formControlName="description"
        ></textarea>
      </div>
      <hr />
      <div formGroupName="filterTypeSelection" class="sharedForm">
        <label for="filterType">Filter Type: </label>
        <select id="filterType" formControlName="filterType">
          <option value="none" selected>none</option>
          <option
            *ngFor="let filterType of filterTypes"
            [value]="filterType.id"
            >{{ filterType.name }}</option
          >
        </select>
      </div>
      <hr />
      <div
        formGroupName="hierarchyFilters"
        *ngIf="activeSpecificForm.filterType === '1'"
        class="hierarchyForm"
      >
        <label for="dimension">Dimension: </label>
        <select formControlName="dimension" id="dimension">
          <option value="all">all dimensions</option>
          <option *ngFor="let dimension of dimensions" [value]="dimension.id">{{
            dimension.name
          }}</option>
        </select>
        <label for="hierarchy">Hierarchy: </label>
        <select formControlName="hierarchy" id="hierarchy">
          <option value="all">all hierarchies</option>
          <option
            *ngFor="let hierarchy of hierarchies"
            [value]="hierarchy.id"
            >{{ hierarchy.name }}</option
          >
        </select>
      </div>
      <hr />
      <div
        formGroupName="dataElementFilters"
        *ngIf="activeSpecificForm.filterType === '2'"
        class="dataElementForm"
      >
        <label for="dataElementSelection">Data Element Selection: </label>
        <select
          formControlName="dataElementSelection"
          id="dataElementSelection"
        >
          <option value="all">all data elements</option>
          <option
            *ngFor="let dataElement of dataElements"
            [value]="dataElement.id"
            >{{ dataElement.name }}</option
          >
        </select>
        <label for="filterMethod">Filter Method: </label>
        <select formControlName="filterMethod" id="filterMethod">
          <option value="none">none</option>
          <option
            *ngFor="let filterMethod of dataElementfilterMethods"
            [value]="filterMethod.id"
            >{{ filterMethod.name }}</option
          >
        </select>
        <hr />
        <div
          formGroupName="specificValuesForm"
          *ngIf="dataElementFilterMethod.filterMethod === '1'"
          class="dataElementForm-specificValuesForm"
        >
          <h3>Specific Values:</h3>
        </div>
      </div>
      <hr />
      <button type="submit">Submit Total</button>
    </form>
  </div>
</div>
